<%= form_with model: @product do |form| %>
  <div class="mt-5">
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "w-full rounded-md"%>
    <div class="text-red-500">
      <% @product.errors.full_messages_for(:name).each do | message | %>
        <div> <%= message %> </div>
      <% end %>
    </div>
  </div>

  <div class="mt-5">
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "w-full rounded-md"%>
    <div class="text-red-500">
      <% @product.errors.full_messages_for(:description).each do | message | %>
        <div> <%= message %> </div>
      <% end %>
    </div>
  </div>
  
  <div class="mt-5">
    <%= form.label :price %><br>
    <%= form.number_field :price, class: "w-full rounded-md"%>
    <div class="text-red-500">
      <% @product.errors.full_messages_for(:price).each do | message | %>
        <div> <%= message %> </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit "Create", class: "mt-5 text-green-700 bg-green-400 border-2 border-green-700 rounded-md h-12 w-full cursor-pointer" %>
  </div>
<% end %>